.input-group {
	.form-control {
		border: 1px solid #ced4da;
		padding: 0.5rem 0.75rem;
		border-radius: 0.25rem;
		width: 100%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.btn-primary {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}
