.todoList-item {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.deleteTask {
		background: red;
		color: white;
		border: 0;
		border-radius: 4px;
		padding: 0.5rem 0.75rem;
		cursor: pointer;
	}
}
